
<div class="col s8">
	<div class="panel panel-default">
		<h2 style="text-align:center">All the products</h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Code</th>
					<th>Description</th>
					<th>Available</th>
					<th>Price</th>
					<th>Family</th>
					<th>Class ID</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="col s4">
	<div class="panel panel-default">
		<h2 style="text-align:center">All the categories</h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Class Name</th>
				</tr>
			</thead>
		</table>
	</div>
</div>